<div class="container fuelux">
  <h2 id="title">Welcome to Ember.js</h2>

  <h3>Checkbox</h3>

  {{#fuelux-checkbox}}Custom checkbox unchecked on page load{{/fuelux-checkbox}}
  {{#fuelux-checkbox checked=true}}Custom checkbox checked on page load{{/fuelux-checkbox}}
  {{#fuelux-checkbox disabled=true}}Disabled custom checkbox unchecked on page load{{/fuelux-checkbox}}
  {{#fuelux-checkbox checked=true disabled=true}}Disabled custom checkbox checked on page load{{/fuelux-checkbox}}

  {{#fuelux-checkbox-inline}}1{{/fuelux-checkbox-inline}}
  {{#fuelux-checkbox-inline checked=true}}2{{/fuelux-checkbox-inline}}
  {{#fuelux-checkbox-inline disabled=true}}3{{/fuelux-checkbox-inline}}

  <div class="input-group">
    {{fuelux-checkbox-inline class="input-group-addon"}}
    <input type="text" class="form-control">
  </div>

  {{#fuelux-checkbox highlight=true}}This control highlights a block-level checkbox on check{{/fuelux-checkbox}}
  {{#fuelux-checkbox-inline highlight=true}}This control highlights an inline checkbox on check{{/fuelux-checkbox-inline}}

</div>

{{outlet}}
